.ul{color: purple;
    background-color: lightpink;
    }
    a:hover{color: aquamarine;
    }
    .li{color: lightgoldenrodyellow;
    background-color: lightgreen;
    }
    .sektion{color: lightsalmon;
    }
    .il{color: blue;
    background-color: green;
    }
    ul{
    color: coral;
    background-color: yellow;
    }
    .lu{color: pink;
    background-color: orange;
    }
    li{color: lightblue;
    background-color: aqua;
    }